<launch>
  <rosparam command="load" file="$(find mobilerobot_control)/config/mecanum_wheel_controller.yaml" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="mobilerobot_joint_publisher mobile_chassis_velocity_controller" 
        output="screen"/>
</launch>